#page_not_found {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #032b3d;

  .margin {
    margin-bottom: 30px;
    &.long {
      margin-bottom: 60px;
    }
  }
  .flex {
    height: 100vh;
    margin-bottom: 0px;
  }
  .back {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #1679a8;
  }
}
