.full-height {
  height: calc(100vh - 45px);
  overflow-y: auto;
}
.nav-bar {
  height: 44px;
  overflow: hidden;
  img {
    max-width: 100%;
    width: 683px;
  }
  .toggle-sidebar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3px;
    background: #fffffe;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    left: 9px;
  }
}
.sidebar {
  padding: 24px 14px 0;
  background: #ffffff;
  box-shadow: 5px 0px 9px 5px rgba(0, 0, 0, 0.02);
  width: 205px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  z-index: 9;

  color: #032b3d;

  #logo {
    img {
      height: 81px;
    }
    margin-bottom: 36px;
  }
  .link-item {
    padding: 10px;
    margin-bottom: 30px;
    font-family: "Inter";
    cursor: pointer;
    display: flex;
    img {
      width: 18px;
      height: 18px;
    }
    span {
      padding-left: 11.92px;
    }
  }
  .active {
    background-color: #4296bd;
    color: #fff;
    border-radius: 6px;
  }
  .dropdown.flex {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
    padding: 7px;
    max-width: 147px;
    width: 100%;
    height: 41.96px;
    background: #bdc3ca;
    border-radius: 6px;
    cursor: pointer;
    .absolute {
      background: #f6f7fb;
      margin-top: -90px;
      margin-left: -7px;
      max-width: 147px;
      width: 100%;
      button {
        margin-top: 10px;
        background: #bdc3ca;
        width: 60%;
        height: 30px;
        border-radius: 6px;
      }
      color: #6e8691;
      height: 86px;
    }
  }
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #696969;
  }
}
