.form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #032b3d;
    .small{
      font-size: 17px;
    }
  }
  input {
    width: 300px;
    max-width: 100%;
    height: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    &.bg {
      padding: 0 15px;
      border: 1px solid #e5e5e5;
    }
  }
}
